<div class="Page">
  <div class="Page-Head">
    <div class="Page-Breadcrumbs">
      <%= breadcrumbs %>
    </div>
    <div class="Page-Heading">
      <div class="Page-Title"><%= title %></div>
      <div class="Page-Actions"><%= actions %></div>
    </div>
  </div>
  <div class="Page-Body">
    <%= content %>
  </div>
</div>