  <%= link_to document, id: dom_id(document), class: "box mt-3 mb-3 is-flex is-flex-direction-row is-align-items-center" do %>
    <div class="div">
      <div class="title is-6"><%= document.title %></div>
    </div>
    <div class="is-flex-grow-1 has-text-right">
      <h3 class="subtitle is-6"><span class="tag is-grey"><%= document.note %></span></h3>
    </div>
  <% end %>
