<div id="<%= dom_id document %>" class="box mt-3 mb-3">

  <div class="is-flex is-flex-direction-row is-align-items-center">
    <div class="div">
      <h2 class="title is-4"><%= document.title %></h2>
      <h3 class="subtitle is-6"><span class="tag is-grey"><%= document.note %></span></h3>
    </div>
    <div class="is-flex-grow-1 has-text-right">
      <%= link_to "Editor", document, class: "button is-dark" %>
    </div>
  </div>

</div>
