<p id="notice"><%= notice %></p>

<section class="section">
  <div class="container">
    <h1 class="title is-1">Documents</h1>

    <div class="field is-grouped is-grouped-right">
      <div class="control"><%= link_to "New Document", new_document_path, class: "button is-link mb-5" %></div>
    </div>

    <hr class="mt-3 mb-6">

    <%= render @documents %>

  </div>
</section>