 <%= page(title: "Your Documents") do |p| %>

  <% p.breadcrumbs do |breadcrumbs| %>
    <% breadcrumbs.breadcrumb(label: "Documents", href: documents_path, active: true) %>
  <% end %>

  <% p.actions do %>
    <%= link_to new_document_path, class: "button with-icon is-primary" do %>
      <i class="gg-math-plus"></i>
      <span>Add document</span>
    <% end %>
  <% end %>

  <% @groups.each do |name, group| %>
    <div class="document-group">
      <h3 class="title is-5"><%= name %></h3>
      <%= render group %>
    </div>
  <% end %>

 <% end %>