<%= page(title: @document.title) do |p| %>

  <% p.breadcrumbs do |breadcrumbs| %>
    <% breadcrumbs.breadcrumb(label: "Documents", href: documents_path) %>
    <% breadcrumbs.breadcrumb(label: @document.title, href: document_path(@document)) %>
    <% breadcrumbs.breadcrumb(label: "Markdown Preview", href: "#", active: true) %>
  <% end %>

  <% p.actions do %>
    <%= link_to document_path(@document), class: "button with-icon is-primary" do %>
      <i class="gg-arrow-left"></i>
      <span>Back to Document</span>
    <% end %>
  <% end %>

  <div class="markdown-preview" data-controller="clipboard">
    <button class="button is-small" data-action="click->clipboard#copy"><i class="gg-clipboard"></i></button>
    <pre><code data-clipboard-target="source"><%= @markdown %></code></pre>
  </div>

<% end %>