<%= page(title: @document.title) do |p| %>

 <% p.breadcrumbs do |breadcrumbs| %>
   <% breadcrumbs.breadcrumb(label: "Documents", href: documents_path) %>
   <% breadcrumbs.breadcrumb(label: @document.title, href: document_path(@document), active: true) %>
 <% end %>

 <% p.actions do %>
   <%= link_to document_markdown_path(@document), class: "button with-icon is-primary" do %>
     <i class="gg-attribution"></i>
     <span>Render Markdown</span>
   <% end %>
 <% end %>

  <div class="document">

    <%= turbo_frame_tag :fragments do %>
      <div class="fragments-container" data-controller="sortable">
        <%= render @fragments %>
      </div>
    <% end %>

  </div>

<% end %>