<div>
  <button
    class="button is-small is-light is-round"
    data-action="click->change-fragment#showMenu">
    <i class="gg-chevron-down"></i>
  </button>
  <%= form_with(model: [@document, fragment]) do |form| %>
    <%= form.text_field(:element, hidden: true) %>
    <%= form.submit("Save", hidden: true) %>
  <% end %>
</div>