.fragment {
  padding: 0.25em 0.5em;
  border: 2px solid transparent;
  border-radius: 4px;
  margin-left: calc(-0.25em);

  &.h1 {
    h1 {
      font-size: 32px !important;
      font-weight: 600;
    }
  }

  &.h2 {
    h2 {
      font-size: 26px !important;
      font-weight: 500;
    }
  }

  &.h3 {
    h3 {
      font-size: 22px !important;
      font-weight: 400;
    }
  }

  &.p {
    line-height: 26px;
    a {
      pointer-events: none;
      text-decoration: underline;
    }
  }

  &.pre {
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 58em;

    pre {

      font-size: 14px;
      background-color: #272822;
      border-radius: 5px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
        0 8px 16px rgba(0, 0, 0, 0.11);
    }
  }

  &.p.is-editing, &.h1.is-editing, &.h2.is-editing, &.h3.is-editing {
    background-color: #FFFFFF;
    border-color: #2E72D2;
  }

  &:hover {
    outline: 1px dashed #EEE;
    // outline-offset: 4px;
  }
}

.fragment-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  left: -80px;
  width: 63em;
  border: none;

  &.saved {
    .fragment {
      background-color: $success-light;
    }
  }

  &:hover {
    .fragment-button-container {
      opacity: 1;
      transition: opacity 0.25s ease;
    }
  }

  .fragment-button-container {
    --ggs: 0.5;
    position: relative;
    width: 80px;
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  .fragment-container {
    width: 100%;
    flex-grow: 1;
    transition: background-color 300ms ease-out;
  }
}

.fragment-wrapper.h1 {
  .fragment-button-container {
    line-height: 36px;
  }
}

.fragment-wrapper.h2 {
  .fragment-button-container {
    line-height: 30px;
  }
}

.fragment-wrapper.h3 {
  .fragment-button-container {
    line-height: 28px;
  }
}

.add-fragment {
  opacity: 0;
  position: relative;
  height: 10px;
  left: -50px;
  width: 63em;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: opacity 0.25s ease;

  &:hover {
    opacity: 1;
    transition: opacity 0.25s ease;
  }

  .add-fragment-button-container {
    --ggs: 0.5;
    width: 50px;
  }

  .add-fragment-indicator {
    flex-grow: 1;
    width: 100%;
    height: 2px;
    background-color: $link;
  }

  .button {
    border: 1px solid #CCC;
    &:hover {
      border: 1px solid #CCC;
    }
  }
}


.button.is-round {
  border-radius: 100% !important;
  padding: 0;
  margin: 0;
  width: 2em;
  height: 2em;
}

.format-menu {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    flex-grow: 1;
  }
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.medium-editor-toolbar li button:hover {
  background-color: #000;
  color: rgb(252, 250, 121);
}
.medium-editor-toolbar li .medium-editor-button-active {
  background-color: #000;
  color: #fff;
}

.being-dragged {
  .fragment {
    position: relative;
    width: 100%;
    max-height: 1px;
    overflow: hidden;
    padding: 0;
    background-color: $link;
  }
}
